:root{
  --c-brand:#409EFF;
  --c-success:#67C23A;
  --c-warning:#E6A23C;
  --c-danger:#F56C6C;
  --c-info:#909399;
}

body {
  background-color: lightskyblue;
}

body > .container > section {
  margin-bottom: 2em;
}

.jumbotron {
  background-color: pink;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.jumbotron h2 {
  font-size: 1.75rem;
  color: #fff;
}


#answer {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, .15);
  background: rgba(0, 0, 0, .05);
}

#next {
  width: 100%;
}
* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  /*-khtml-user-select:none;*/
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
